

{% extends "template_base.html" %}


{% block content %}

 
    <ul class="collection with-header">
        <li class="collection-header"><h4>Fornecedores</h4></li>
        {% for item in fornecedores %}        
        <li data-id={{item.id}} class="collection-item">{{item.nome}}
            <a  class="secondary-content" href="editarFornecedor/{{item.id}}">Editar</a>
            <button class="secondary-content btn small"><i class="material-icons">delete</i></button>
        </li>
        {% endfor %}
        
    </ul>


           
   



      </div>







    



{% endblock %}

